body{
    box-sizing: border-box;
    margin: 0;
    font-family: Poppins;
}

section.header{
    border-bottom: 1px solid lightgrey;
    /* position: sticky;
    z-index: 1;
    top: 0; */
}


.navbar{
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 780px;
}

.navbar .title::before{
    content: url('./img/icon.png');
    position: relative;
    top: 7px;
}

.navbar ul li{
    list-style-type: none;
    width: 135px;
    padding-bottom: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}

.navbar ul li a::before{
    content: url('img/Frame\ 1166.svg');
    position: relative;
    top: 4px;
    left: -7px;
}

.summersale{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
    max-width: 1000px;
    margin: 35px auto;
    gap: 150px;
    padding: 50px;
    background-color: #EAEEEF;
    border-radius: 40px;
}

div.sale .discount{
    font-size: 48px;
    color: orange;
    font-weight: bold;
    margin: 0;
}

div.sale h1{
    font-size: 50px;
    margin: 0;
}

div.sale button{
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px 55px;
    border-radius: 10px;
    margin-top: 50px;
}

div.sale button::after{
    content: url("./img/arrow-right.png");
    position: relative;
    top: 2px;
    left: 10px;
}

section.latestdrops{
    max-width: 1099px;
    margin: 50px auto;
}

section.latestdrops h1{
    padding-top: 20px;
}

article.latestdrops{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin-top: 10px;
}

article.latestdrops div img{
    width: 260px;
}

article.latestdrops div h2 {
    font-size: 20px;
}

article.latestdrops div p {
    font-size: 15px;
}

article.latestdrops div p:last-child{
    font-weight: bold;
}

footer{
    background-color: black;
}

/* footer main{
    display: flex;
    color: white;
    gap: 50px;
    justify-content: center;
    max-width: 100%;
    background-color: red;
    margin: 0 auto;
} */

footer main{
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    max-width: 1110px;
    margin: 0 auto;
    column-gap: 300px;
    align-items: center;
}

footer .contacts img{
    max-width: 20px;
}

footer .logo .title::before{
    content: url('./img/icon.png');
    position: relative;
    top: 7px;
    right: 3px;
}

footer .contacts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}